{{!-- Include the CSS and JS files --}}
<link rel="stylesheet" href="{{asset "css/content-layout.css"}}">

<div class="wrapper">
  <div class="column">
    <div class="title">
      <div class="_2024-11-23">{{date format="YYYY年MM月DD日"}}</div>
    </div>
    <div class="menu">
      <h3 class="menu-title">目次</h3>
      <div class="menu-container">
        <a href="#summary-section" class="menu-item active-item" id="summary-link">
          <span class="menu-icon">
            <img class="arrow-right" src="{{asset "images/arrow-right.svg"}}" />
          </span>
          <span class="menu-text">要約</span>
        </a>
        <a href="#explanation-section" class="menu-item" id="explanation-link">
          <span class="menu-icon">
            <img class="arrow-right" src="{{asset "images/arrow-right.svg"}}" />
          </span>
          <span class="menu-text">解説</span>
        </a>
      </div>
    </div>
  </div>
  
  <div class="content-container">
    <div class="content-row">
      <div class="column2">
      <div class="block" id="summary-section">
        <div class="title2">
            <div class="content">
          <div class="title3">要約</div>
            </div>
        </div>
        <div class="summary-content">
            {{! Display the full content for now, we'll implement content filtering via JavaScript later }}
          {{{content}}}
          </div>
        </div>
      </div>
      
      <div class="column3 summary-sidebar">
        {{! Expert 1 }}
        <div class="expert-profile">
          <div class="expert-avatar">
            <img class="avatar-image" src="{{#if tags.[1].feature_image}} {{tags.[1].feature_image}} {{else}} {{#if primary_tag.feature_image}} {{primary_tag.feature_image}} {{else}} {{asset "images/expert1.png"}} {{/if}} {{/if}}" alt="{{#if tags.[1].name}} {{tags.[1].name}} {{else}} {{#if primary_tag.name}} {{primary_tag.name}} {{else}} エリン・コベイン先生 {{/if}} {{/if}}" />
            <div class="expert-info">
              <div class="expert-name">エリン・コベイン先生</div>
              <div class="expert-title">
                准教授 ミシガン大学ローゲルがんセンター
                <br />
                乳がん腫瘍クリニック
                <br />
                医療腫瘍学・内科学
              </div>
            </div>
          </div>
          <div class="audio-container summary-audio" id="summary-audio-container">
            <!-- Audio element will be moved here by JavaScript -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="content-row">
      <div class="column2">
      <div class="block" id="explanation-section">
        <div class="title2">
            <div class="content">
          <div class="title3">解説</div>
        </div>
          </div>
          <div class="block2">
        <div class="explanation-content">
              {{! For now, using the same content - will be filtered with frontend JavaScript }}
            </div>
        </div>
      </div>
    </div>
    
      <div class="column3 explanation-sidebar">
        {{! Expert 2 }}
        <div class="expert-profile">
          <div class="expert-avatar">
            <img class="avatar-image" src="{{#if primary_tag.feature_image}}{{primary_tag.feature_image}}{{else}}{{asset "images/expert2.png"}}{{/if}}" alt="{{#if primary_tag.name}}{{primary_tag.name}}{{else}}佐治重衡先生{{/if}}" />
            <div class="expert-info">
              <div class="expert-name">佐治重衡先生</div>
              <div class="expert-title">
                主任教授
                <br />
                福島県立医科大学 医学部
                <br />
                腫瘍内科学講座
              </div>
            </div>
          </div>
          <div class="audio-container explanation-audio" id="explanation-audio-container">
            <!-- Audio element will be moved here by JavaScript -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hidden audio elements that will be moved to the containers -->
<div class="audio-elements-container" style="display:none;">
  {{!-- Audio elements from content will be captured here --}}
</div>

{{!-- Include JavaScript at the end of the body for better performance --}}
<script src="{{asset "js/content-layout.js"}}"></script>
