{{!-- Include the CSS and JS files --}}
<link rel="stylesheet" href="{{asset "css/content-layout.css"}}">

<div class="wrapper">
  <div class="column">
    <div class="title">
      <div class="_2024-11-23">{{date format="YYYY年MM月DD日"}}</div>
    </div>
    <div class="menu">
      <div class="div">目次</div>
      <div class="container">
        <div class="item" id="summary-link">
          <img class="arrow-right" src="{{asset "images/arrow-right.svg"}}" />
          <div class="div2">要約</div>
        </div>
        <div class="item" id="explanation-link">
          <img class="arrow-right2" src="{{asset "images/arrow-right.svg"}}" />
          <div class="div2">解説</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-container">
    <div class="content-row">
      <div class="column2">
        <div class="block" id="summary-section">
          <div class="title2">
            <div class="content">
              <div class="title3">要約</div>
            </div>
          </div>
          <div class="summary-content">
            {{! Display the full content for now, we'll implement content filtering via JavaScript later }}
            {{{content}}}
          </div>
        </div>
      </div>
      
      <div class="column3 summary-sidebar">
        {{! Expert 1 }}
        <div class="frame-21">
          <div class="ava">
            <img class="ellipse-1" src="{{asset "images/expert1.png"}}" alt="エリン・コベイン先生" />
            <div class="text">
              <div class="div3">エリン・コベイン先生</div>
              <div class="div4">
                准教授 ミシガン大学ローゲルがんセンター
                <br />
                乳がん腫瘍クリニック
                <br />
                医療腫瘍学・内科学
              </div>
            </div>
          </div>
          <div class="frame-20">
            <img class="play" src="{{asset "images/play.svg"}}" />
            <div class="_0-00-3-26">0:00 / 3:26</div>
            <div class="rectangle-2"></div>
            <div class="frame-22">
              <img class="volume-high" src="{{asset "images/volume-high.svg"}}" />
              <img class="more-vertical" src="{{asset "images/more-vertical.svg"}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="content-row">
      <div class="column2">
        <div class="block" id="explanation-section">
          <div class="title2">
            <div class="content">
              <div class="title3">解説</div>
            </div>
          </div>
          <div class="block2">
            <div class="explanation-content">
              {{! For now, using the same content - will be filtered with frontend JavaScript }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="column3 explanation-sidebar">
        {{! Expert 2 }}
        <div class="frame-27">
          <div class="ava">
            <img class="ellipse-1" src="{{asset "images/expert2.png"}}" alt="佐治重衡先生" />
            <div class="text">
              <div class="div3">佐治重衡先生</div>
              <div class="div4">
                主任教授
                <br />
                福島県立医科大学 医学部
                <br />
                腫瘍内科学講座
              </div>
            </div>
          </div>
          <div class="frame-20">
            <img class="play" src="{{asset "images/play.svg"}}" />
            <div class="_0-00-3-26">0:00 / 3:26</div>
            <div class="rectangle-2"></div>
            <div class="frame-22">
              <img class="volume-high" src="{{asset "images/volume-high.svg"}}" />
              <img class="more-vertical" src="{{asset "images/more-vertical.svg"}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Include JavaScript at the end of the body for better performance --}}
<script src="{{asset "js/content-layout.js"}}"></script>
