{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="banner">
  <div class="header"></div>
  <div class="header2">
    <div class="content">
      <div class="img">
        {{#if @site.cover_image}}
          <img class="image-130"
              srcset="{{img_url @site.cover_image size="s"}} 300w,
                      {{img_url @site.cover_image size="m"}} 600w,
                      {{img_url @site.cover_image size="l"}} 1000w"
              sizes="(max-width: 576px) 104px, 330px"
              src="{{img_url @site.cover_image size="m"}}"
              alt="{{@site.title}}"
          />
        {{else}}
          <div class="image-130-placeholder"></div>
        {{/if}}
        <div class="frame-5">
          <div class="div">佐治重衡先生</div>
          <div class="div2">
            福島県立医科大学 医学部
            <br />
            腫瘍内科学講座 主任教授
          </div>
        </div>
      </div>
    </div>
    <div class="frame-6">
      <div class="frame-8">
        <div class="frame-4">
          <div class="div3">解説</div>
        </div>
        <div class="_2024-11-23">{{date format="YYYY年MM月DD日"}}</div>
      </div>
      <div class="frame-7">
        <div class="_2024-asco">2024年ASCO乳がん臨床試験要約</div>
        <div class="div4">佐治重衡先生の解説</div>
      </div>
    </div>
    <img class="group-1" src="{{asset "images/group-10.svg"}}" alt="Background decoration" />
  </div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
<div class="inner posts">

    <div class="post-feed">
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
    </div>

    {{pagination}}

</div>
</main>
