{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="banner">
  <div class="header"></div>
  <div class="banner-container">
    <div class="banner-content-wrapper">
      <div class="banner-image-wrapper">
        {{#if @site.cover_image}}
          <img class="banner-image"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                      {{img_url @site.cover_image size="l"}} 1000w"
              sizes="(max-width: 576px) 104px, 330px"
              src="{{img_url @site.cover_image size="m"}}"
                alt="{{@site.title}}"
            />
        {{else}}
          <div class="banner-image-placeholder"></div>
        {{/if}}
        <div class="banner-image-caption">
          <div class="banner-person-name">佐治重衡先生</div>
          <div class="banner-person-title">
            福島県立医科大学 医学部
            <br />
            腫瘍内科学講座 主任教授
          </div>
        </div>
      </div>
    </div>
    <div class="banner-content">
      <div class="banner-meta">
        <div class="banner-tag-container">
          <div class="banner-tag">解説</div>
        </div>
        <div class="banner-date">{{date format="YYYY年MM月DD日"}}</div>
      </div>
      <div class="banner-title-container">
        <div class="banner-title">2024年ASCO乳がん臨床試験要約</div>
        <div class="banner-subtitle">佐治重衡先生の解説</div>
      </div>
    </div>
    <img class="banner-decoration" src="{{asset "images/group-10.svg"}}" alt="Background decoration" />
  </div>
</div>

{{!-- The main content area with new design --}}
<main id="site-main" class="site-main outer">
<div class="inner">

    <div class="container">
        <div class="post-feed-header">
            <div class="post-feed-header-content">
                <div class="post-feed-title">ASCO 2024 要約一覧</div>
            </div>
        </div>
        
        {{#foreach posts}}
            <div class="post-item">
                <div class="post-date">{{date published_at format="YYYY年MM月DD日"}}</div>
                <div class="post-content">
                    <div class="post-title">{{title}}</div>
                    <div class="post-excerpt">
                        {{excerpt}}
                    </div>
                    <div class="read-more-wrapper">
                        <a href="{{url}}" class="read-more-link">全文を読む</a>
                    </div>
                </div>
            </div>
        {{/foreach}}
    </div>

    {{pagination}}

</div>
</main>
