{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

<main id="site-main" class="site-main">
<article class="article {{post_class}}">

    {{#match @page.show_title_and_feature_image}}
        <header class="article-header header custom-header page-header">
            <div class="header2">
                <div class="breadcrumb-nav">
                    <div class="frame-16">
                        <div class="div"><a href="/">ホーム</a></div>
                        <img class="angle-right" src="{{asset "images/angle-right.svg"}}" />
                        <div class="current-page">{{title}}</div>
                    </div>
                </div>
                
                <div class="custom-article-title text-center">{{title}}</div>
            </div>
            <div class="group-3">
                 {{>"icons/normal-logo"}}
            </div>
            <div class="group-4">
                {{>"icons/normal-logo"}}
            </div>
        </header>
    {{/match}}

    <section class="gh-content gh-canvas custom-canvas">
        {{content}}
    </section>

</article>
</main>

{{/post}}